@model B_KOM_Sklep_internetowy.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Zarejestruj</h2>

<div>
    @using (Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()

        <div id="login-error">
            @Html.ValidationMessage("loginerror")
        </div>

        <table id="login-table" class="justify-content-center d-flex">
            <tr>
                <td>@Html.LabelFor(c => c.Email)</td>
                <td>
                    @Html.TextBoxFor(c => c.Email)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(c => c.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.Password)</td>
                <td>
                    @Html.PasswordFor(c => c.Password)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(c => c.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(c => c.ConfirmPassowrd)</td>
                <td>
                    @Html.PasswordFor(c => c.ConfirmPassowrd)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(c => c.ConfirmPassowrd)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Zarejestruj" />
                </td>
            </tr>
        </table>
    }

    <div class="justify-content-center d-flex">
        <a href="@Url.Action("Login")">Posiadasz już konto? Zaloguj się!</a>
    </div>

</div>